/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties/ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2b2b2b;
  --clr--grey: #d9d9d9;
  --font: "Poppins", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/* header */
.header {
  position: relative;
  z-index: 99;
  padding: 2.5rem 0;
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 33rem;
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.header__nav ul li a {
  color: var(--clr-dark);
  font-weight: 700;
}
.header__nav ul li a:hover {
  color: var(--clr-secondary);
  transition: 0.5s ease-in-out;
}
.toggle__menu {
  display: none;
}
.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}
@media screen and (max-width: 520px) {
  body {
    padding-top: 120px;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header__nav {
    padding: 5rem;
    background-color: var(--clr-primary);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 99;
    margin-top: 6.5rem;
    transform: translateY(50rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
    gap: 5rem;
  }
  .header__nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__nav ul li a {
    color: var(--clr-light);
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav.open {
    right: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: 0.5s ease;
  }
  .btn.bg--primary {
    border: 1px solid var(--clr-light);
  }
}
/* home */
.banner {
  background-image: url(./IMG/home\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.banner__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  padding: 8rem 0 50rem;
  width: 50rem;
}
@media screen and (max-width: 520px) {
  .banner__text h2 {
    font-size: 36px;
    text-align: center;
    width: auto;
  }
}
.properties {
  background-color: var(--clr-secondary);
  padding: 10rem;
}
.properties__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 520px) {
  .properties {
    padding: 6rem 0;
  }
  .properties__card {
    flex-direction: column;
  }
}
.info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.info__right h3 {
  font-size: 36px;
  font-weight: 700;
}
.info__right p {
  text-align: justify;
  padding: 1rem 0 4rem;
}
.info__left img {
  height: 100%;
  padding: 10rem 0;
}
@media screen and (max-width: 520px) {
  .info__wrapper {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .info__right h3 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 1rem;
  }
  .info__left img {
    height: 100%;
    padding: 4rem 0 2rem;
  }
}
.testimonial {
  background-color: var(--clr-dark);
}
.testimonial__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.testimonial__text h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr-light);
  padding: 2rem 22rem 4rem 0;
}
.testimonial__text p {
  color: var(--clr-light);
  text-align: justify;
}
.testimonial__text h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-light);
  padding-top: 4rem;
}
.testimonial__img img {
  height: 100%;
}

@media screen and (max-width: 520px) {
  .testimonial__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 4rem;
  }
  .testimonial__text h3 {
    font-size: 24px;
    padding: 2rem 0 4rem;
  }
  .testimonial__text h4 {
    font-size: 20px;
  }
  .testimonial__img img {
    padding-bottom: 2rem;
  }
}
.footer {
  padding: 4rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.homes .title h3 {
  color: var(--clr-dark);
  padding-top: 4rem;
}
.homes__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.homes__details:last-child {
  padding-bottom: 8rem;
}
.homes__text h3 {
  font-size: 36px;
  font-weight: 700;
}
.homes__text p {
  text-align: justify;
  padding-bottom: 3rem;
}

@media screen and (max-width: 520px) {
  .homes__details {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .homes__text h3 {
    font-size: 24px;
  }
}
/* about */
.about {
  background-image: url(./IMG/about\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__text {
  width: 58rem;
  padding: 12rem 0;
}
.about__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}
.about__text p {
  padding: 4rem 0 6rem;
  text-align: justify;
}
@media screen and (max-width: 520px) {
  .about__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
  }
  .about__text {
    padding: 4rem 0;
  }
  .about__text h2 {
    font-size: 36px;
    text-align: center;
    width: auto;
  }
}
.offer .title h3 {
  color: var(--clr-dark);
  padding: 6rem 0 2rem;
  text-align: center;
}
.offer .title p {
  color: var(--clr-dark);
  text-align: justify;
  padding-bottom: 6rem;
}
.offer__card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: var(--clr--grey);
  gap: 1rem;
  align-items: center;
}
.offer .container {
  padding: 0 10rem;
}
.offer__text p {
  text-align: justify;
  padding-right: 3rem;
}
.offer__text h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 3rem;
}
.offer__img img {
  height: 100%;
}
.offer__wrapper {
  gap: 3rem;
  display: grid;
  margin-bottom: 8rem;
}
@media screen and (max-width: 520px) {
  .offer__card {
    grid-template-columns: 1fr;
  }
  .offer .container {
    padding: 0 5rem;
  }
  .offer__text {
    padding: 2rem;
    text-align: center;
  }
  .offer__text h4 {
    font-size: 20px;
    padding-bottom: 2rem;
  }
  .offer__text p {
    padding-right: 0;
  }
}

/* contact */
.contact {
  padding: 4rem 0;
  height: 76vh;
}
.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 10rem;
}
.contact p {
  padding: 4rem 0;
}
.contact__left p {
  padding: 1rem 0 4rem;
  width: 35rem;
}
.contact__left h3 {
  font-size: 36px;
  font-weight: 700;
}
.contact__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__details li {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}
.contact__details a {
  color: var(--clr-light);
  font-size: 25px;
  padding: 1rem;
  background-color: var(--clr-primary);
  border-radius: 100%;
}
.contact__details p {
  padding: 0;
}
.contact__details h5 {
  font-size: 18px;
  font-weight: 700;
}
.contact__right form {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__right .btn.bg--primary {
  margin-top: 2rem;
  width: 16rem;
}
.contact__right input {
  padding: 1.5rem;
  border-radius: 15px;
  border: 1px solid var(--clr-dark);
  font-weight: 700;
}
.contact__right textarea {
  padding: 1.5rem;
  resize: none;
  height: 15rem;
  border-radius: 15px;
  border: 1px solid var(--clr-dark);
  font-weight: 700;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.name input {
  width: 500%;
}
@media screen and (max-width: 520px) {
  .contact__wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .contact {
    height: 100%;
  }
  .contact__right form {
    padding: 0;
  }
  .contact p {
    padding: 2rem 0;
  }
  .contact__details p {
    padding: 0;
  }
}
/* Assets */
.title {
  text-align: center;
}
.title h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr-light);
  padding-bottom: 4rem;
}
.title p {
  color: var(--clr-light);
}
@media screen and (max-width: 520px) {
  .title h3 {
    font-size: 24px;
  }
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border: 1px solid var(--clr-primary);
}
.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-secondary);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.card {
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card__title h4 {
  padding: 1rem 1rem 0;
  font-size: 24px;
  font-weight: 700;
}
.card__title p {
  padding: 0 1rem 1rem;
}
.card__details h5 {
  font-size: 18px;
  font-weight: 700;
}
.card__details td {
  padding: 1rem 1rem;
}
.card__details td:nth-child(even) {
  padding-left: 5rem;
}
